*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

h1{
    font-size: 2em;
    font-weight: bolder;
}

#Simple{
    width: 400px;
    height: 300px;
    background-color: chocolate;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#num1{
    width: 60%;
    height: 30px;
    padding-left: 20px;
    border: 0 none;
    border-radius: 5px;
    font-weight: bold;
}

#calculation{
    width: 50%;
    height: 20px;
    padding-left: 20px;
    border: 0 none;
    border-radius: 5px;
    font-weight: bold;
}

#num2{
    width: 60%;
    height: 30px;
    padding-left: 20px;
    border: 0 none;
    border-radius: 5px;
    font-weight: bold;
}

#calculate{
    width: 100px;
    height: 30px;
    background-color: rgb(36, 244, 4);
    color: white;
    font-weight: bolder;
    border: 0 none;
    border-radius: 5px;
}

